
  <div class='banner d-flex justify-content-center'>
  <h1>GOD I NEED A DRINK</h1>
</div>
<div class='container d-flex justify-content-around flex-wrap'>
  <% @cocktails.each do |tail| %>
  <div class='card p-3 m-3'>
    <div class='card-body'>
      <h3 class='card-title'><%= link_to tail.name, cocktail_path(tail) %></h3>
      <%= cl_image_tag tail.photo, height: 150, width: 250, crop: :fill %>
    </div>
  </div>
  <% end %>

</div>


<div class="container d-flex justify-content-center">
  <%= link_to 'Create your own cocktail!', new_cocktail_path, class: 'btn-primary to-form p-3 my-3' %>
</div>
